body {
    background-color: rgb(217, 223, 225);
}
nav ul {
    /* align-items: right; */
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    background-color: #003366; /* Darker shade of blue for nav bar */
}

nav ul li {
    display: inline;
}

nav a {
    color: rgb(19, 70, 117);
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold; /* Use bold text */
}

nav a:hover {
    color: #f2f2f2;
    text-decoration: none;
}

nav a.active {
    background-color: #4CAF50;
    color: white;
}

nav a.dropbtn {
    background-color: #333;
    color: gold; /* Use gold text */
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Define the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Define the button that triggers the dropdown menu */
.dropdown .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Add a hover effect to the button */
.dropdown .dropbtn:hover {
    background-color: #3e8e41;
}
.about-section {
    background-image: url('path/to/background-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    color: white;
}