body {
    background-color: rgb(66, 53, 90);
}
nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(7, 98, 80);
    color: white;
    padding: 10px;
    list-style: none;
    position: relative;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: rgb(244, 255, 181);
    color: rgb(7, 98, 80);
}

/* Add a hover effect to the button */
.dropdown .dropbtn:hover {
    background-color: #3e8e41;
}
.about-section {
    background-image: url('path/to/background-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    color: white;
}
/* integrate the contact button as a part of nav bar remove border and add effects same as other nav components */
.contact-button {
    border: none;
    background-color: rgb(7, 98, 80);
    color: rgb(244, 255, 181);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    /* place the form and the contact us section in the bottom right */
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: column;
    background-color: rgb(7, 98, 80);
    
    padding: 20px;
    
    color: rgb(94, 149, 183);
    border-radius: 10px;
}



